body {
    background-color: #0b111d;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
#form {
    background-color: #290849;
    text-align: center;
    color: white;
    margin: 50px 27vw;
    padding: 26px;
    width: 40vw;
    justify-content: center;
    /* border-style: solid; */
    border-color: #272727;
    border-radius: 5px;
    border-width: px;
    
}
h1 {
    text-align: center;
}
#title {
    font-family: 'Bree Serif', serif;
    color: #ddca7e;
    font-size: 62px;
/*     text-shadow: 
    4px 4px 0px #d5d5d5, 
    7px 7px 0px rgba(0, 0, 0, 0.2); */
}
.subtitle {
/*     font-family: 'Fredoka One', cursive; */
    font-weight: 1200;
    color: white;
}
#btn {
    background-color: #ffffff;
    color: #290849;
    margin: 10px 12vw;
    width: 15vw;
    border-radius: 10px;
}
#btn:hover {
    background-color: #cdcdcd;
    
}

#result {
    background-color: #290849;
    text-align: center;
    color: white;
    margin: 50px 27vw;
    margin-top: 0px;
    padding: 26px;
    width: 40vw;
    justify-content: center;
    /* border-style: solid; */
    border-color: #272727;
/*     border-radius: 10px; */
    border-radius: 5px;
    border-width: px;
}
